#preloader.preloader
    #spinner.spinner
        svg(version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40.043px" height="55.633px" viewBox="0 0 40.043 55.633" enable-background="new 0 0 40.043 55.633" xml:space="preserve").preloader__icon
            text(transform="matrix(1 0 0 1 0 47.8398)") 0
            circle(cx="20.021" cy="6" r="6")
            circle(cx="20.021" cy="6" r="4.5")
            circle(cx="20.021" cy="6" r="3")
        