ul#slides.slides
    li.slide.showing
        .slide__container
            .slide__images
                .slide__images-wrapper
                    img(src="./assets/images/slide/work-1.png", alt="Работа 1")
            .slide__text
                .slide__text-wrapper
                    .slide__name
                        .block-subtitle Сайт школы онлайн образования
                    .slide__tech
                        ul.tech__list
                            each tech in ['HTML,','CSS,','JavaScript']
                                li.tech__item= tech
                    .slide__btn-wrapper
                        a(href="#" target="_blank").slide__btn-link
                            //+svg('slide__ic-link', 'link') 
                            span.slide__btn-text Посмотреть сайт
    li.slide
        .slide__container
            .slide__images
                .slide__images-wrapper
                    img(src="./assets/images/slide/work-2.png", alt="Работа 2")
            .slide__text
                .slide__text-wrapper
                    .slide__name
                        .block-subtitle Работа номер два
                    .slide__tech
                        ul.tech__list
                            each tech in ['pug,','sCSS,','babel']
                                li.tech__item= tech
                    .slide__btn-wrapper
                        a(href="#" target="_blank").slide__btn-link
                            //+svg('slide__ic-link', 'link') 
                            span.slide__btn-text Посмотреть сайт
    li.slide
        .slide__container
            .slide__images
                .slide__images-wrapper
                    img(src="./assets/images/slide/work-3.png", alt="Работа 3")
            .slide__text
                .slide__text-wrapper
                    .slide__name
                        .block-subtitle Работа номер три
                    .slide__tech
                        ul.tech__list
                            each tech in ['nodejs,','express,','vuejs']
                                li.tech__item= tech
                    .slide__btn-wrapper
                        a(href="#" target="_blank").slide__btn-link
                            //+svg('slide__ic-link', 'link') 
                            span.slide__btn-text Посмотреть сайт
    li.slide
        .slide__container
            .slide__images
                .slide__images-wrapper
                    img(src="./assets/images/slide/work-4.png", alt="Работа 4")
            .slide__text
                .slide__text-wrapper
                    .slide__name
                        .block-subtitle Работа номер четыре
                    .slide__tech
                        ul.tech__list
                            each tech in ['pug,','sCSS,','babel']
                                li.tech__item= tech
                    .slide__btn-wrapper
                        a(href="#" target="_blank").slide__btn-link
                            //+svg('slide__ic-link', 'link') 
                            span.slide__btn-text Посмотреть сайт
.slide__controls
    button.control.control__left#previous &lt;
        +svg('control__ic control__ic-up', 'arrow_down')
    button.control.control__right#next &gt;
        +svg('control__ic control__ic-down', 'arrow_down')

