ul.social
    li.social-item
        a(href="https://vk.com").social-item__link
            span.hello-card__icon.icon.vk
            span.hidden Vk
    li.social-item
        a(href="https://github.com").social-item__link
            span.hello-card__icon.icon.github
            span.hidden Github
    li.social-item
        a(href="https://linkedin.com").social-item__link
            span.hello-card__icon.icon.in
            span.hidden Linkedin