ul.social
    li.social-item
        a(href="https://vk.com/dm_chekh" target="_blank").social-item__link
            +svg('social-item__ic social-item__ic-vk', 'vk')
            span.hidden Vk
    li.social-item
        a(href="https://github.com/d1m4a" target="_blank").social-item__link
            +svg('social-item__ic social-item__ic-github', 'github')
            span.hidden Github
    li.social-item
        a(href="https://www.linkedin.com/in/дмитрий-чех-3aa13490/" target="_blank").social-item__link
            +svg('social-item__ic social-item__ic-in', 'in')
            span.hidden Linkedin