ul.author-menu
    li.author-menu__item
        a(href="/my-works.html").author-menu__link Мои работы
    li.author-menu__item
        a(href="/about.html").author-menu__link Обо мне
    li.author-menu__item
        a(href="/blog.html").author-menu__link Блог