ul.welcome-menu
    li.welcome-menu__item
        a(href="/my-works.html").welcome-menu__link Мои работы
    li.welcome-menu__item
        a(href="/about.html").welcome-menu__link Обо мне
    li.welcome-menu__item
        a(href="/blog.html").welcome-menu__link Блог