extends ../layout
include ../_mixins/svg

block variables
    - var title = 'Обо мне'

block content
    header.section.hero
    section.section.about
    section.section.maps
    footer.section.footer

