extends ../template

block variables
  - var title = 'Добро пожаловать в пустыню'

block content
    header.welcome-header
        a(href="#").section-btn.welcome-btn Авторизоваться
    section.section.welcome
        .welcome-block
            .welcome-img
                .welcome-img__wrapper
                    img(src="/assets/images/foto.jpg" alt="Мое фото").welcome-foto
            .welcome-name 
                h1 Дмитрий Чех
                p Личный сайт веб разработчика
            .welcome-social
                ul.social-icons
                    li.vk
                    li.git
                    li.in
            nav.welcome-menu
                ul.welcome-menu
                    li.welcome-menu__item Мои работы
                    li.welcome-menu__item Обо мне
                    li.welcome-menu__item Блог
        
    .welcome-desc__bottom
        p © Дмитрий Чех | создано с любовью в LoftSchool | 2017-2018
    