extends ../template
include ../_mixins/svg

block variables
  - var title = 'Добро пожаловать в пустыню'

block content
    section.welcome
        .welcome__topbar.clearfix
            a.welcome__auth-button#js-auth-btn(href='#auth') Авторизоваться
        .welcome__wrapper.author-card__container
            .author-card__cards
                .author-card.author-card__front
                    .author-card__img-wrapper
                        img.author-card__img(src='assets/images/foto.jpg' alt='Чех Дмитрий')
                    .author-card__content
                        .author-card__title 
                            h1 Чех Дмитрий
                        .author-card__subtitle 
                            p Личный сайт веб разработчика
                    .author-card__social
                        include ../common/social.pug
                    .author-card__footer
                        ul.author-menu
                            li.author-menu__item
                                a(href="/my-wroks.html").author-menu__link Мои работы
                            li.author-menu__item
                                a(href="/about.html").author-menu__link Обо мне
                            li.author-menu__item
                                a(href="/blog.html").author-menu__link Блог
                .auth__card.author-card__back
                    .auth-card__wrapper
                        .auth__title Авторизуйтесь
                        form.auth-card__form#js-authform(action='/' method='POST')
                            .auth-card__main
                                .auth-group__input
                                    label.auth-card__label-input
                                        span.auth-card__icon
                                            +svg('auth-card__ic auth-card__ic-login', 'login')
                                        input(type='text' name='login' required='required' placeholder='Логин').auth__input
                                .auth-group__input
                                    label.auth-card__label
                                        span.auth-card__icon
                                            +svg('auth-card__ic auth-card__ic-password', 'password')
                                        input(type='password' name='password' required='required' placeholder='Пароль').auth__input
                                .auth-group
                                    .auth-card__human
                                        label.auth-card__label-checkbox Я человек
                                            input(type='checkbox' name='ishuman').auth-card__checkbox
                                            span.auth-card__check--styled
                                                +svg('auth-card__ic-check', 'check')
                                    .auth-card__check-group
                                            .auth-card__question Вы точно не робот?
                                            label.auth-card__label-radio
                                                input(type='radio' name='robot' value='yes').auth-card__radio
                                            span.auth-card__label-radio-text Да
                                            label.auth-card__label-radio
                                                input(type='radio' name='robot' value='no').auth-card__radio
                                            span.auth-card__label-radio-text Не уверен
                            .auth-card__footer
                                .auth-card__nav
                                    ul.auth-card__list
                                        li.auth-card__item
                                            a.auth-card__link(href='#') На главную
                                        li.auth-card__item
                                            button.auth-card__link(type='submit') Войти

        .welcome__footer #[span.welcome__footer-author © Чех Дмитрий] создано с любовью в LoftSchool | 2017