extends ../layout
include ../_mixins/svg
include ../_mixins/header

block variables
    - var title = 'Мои работы'

block content
    +header('portfolio')
    .triangle__wrapper
        .triangle__side
            svg(class="triangle triangle_fill-white" viewbox="0 0 1000 110" preserveAspectRatio="none")
                    polygon(points="0,0 0,110 1000, 110")
        .triangle__side
            svg(class="triangle triangle_fill-white" viewbox="0 0 1000 110" preserveAspectRatio="none")
                    polygon(points="0,110 1000,110 1000,0")
    .works
        .block-title(style="background-image: url('assets/images/decor/works_header.png')")
            | Мои работы
    .slider
        include ../common/slider
    .feedback
        .block-title(style="background-image: url('assets/images/decor/about_header.png')")
            | Что обо мне 
            br
            | говорят
        .reviews
            ul.reviews__list
                li.reviews__item
                    p.reviews__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                    .reviews__content
                        .reviews__img
                            img(src="assets/images/reviews/koval.png", alt="Ковальчук Д.")
                        .reviews__name
                            p.reviews__name-fio Ковальчук Дмитрий
                            p.reviews__name-position основатель Loftschool
                li.reviews__item
                    p.reviews__text Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
                    .reviews__content
                        .reviews__img
                            img(src="assets/images/reviews/sab.jpg", alt="Сабанцев В.")
                        .reviews__name
                            p.reviews__name-fio Сабанцев Владимир
                            p.reviews__name-position преподаватель
        .feedback__form
            .feedback__wrapper
                .feedback__title
                    .block-subtitle Связаться со мной
                form.feedform(action="")
                    .feedform__wrapper
                        .feedform__group
                            input(type="text" required name="name" placeholder="Имя").feedform__input
                        .feedform__group
                            input(type="email" required name="email" placeholder="Email").feedform__input
                        .feedform__group
                            textarea(type="text" name="text" required placeholder="Ваше сообщение").feedform__area
                    .feedform__buttons
                        button(type="submit").feedform__button Отправить
                        button(type="reset").feedform__button Очистить
            .btn__up--wrapper
                a(href="#up").btn__up
                    +svg('btn__up--ic', 'arrow_down')