extends ../template

block variables
  - var title = 'Добро пожаловать в пустыню'

block content
    section.welcome
        header.welcome-header
            a(href="#").welcome-btn#js-auth-btn Авторизоваться
        .welcome-block
            .welcome-block__container
                .welcome-block__wrapper
                    .welcome-block__front
                        .welcome-img
                            .welcome-img__wrapper
                                a(href="/about.html").welcome-foto__link
                                    img(src="/assets/images/foto.jpg" alt="Мое фото").welcome-foto
                        .welcome-name 
                            h1 Дмитрий Чех
                            p Личный сайт веб разработчика
                        .welcome-social
                            ul.social-icons
                                li.social-icons__item
                                    a(href="https://vk.com/dm_chekh" target="_blank" title="соц сети").social-icons__link
                                        span.social-icons__icon.vk
                                li.social-icons__item
                                    a(href="https://github.com/d1m4a" title="соц сети").social-icons__link
                                        span.social-icons__icon.github
                                li.social-icons__item
                                    a(href="#" title="соц сети").social-icons__link
                                        span.social-icons__icon.in
                        nav.welcome-menu
                            ul.welcome-menu__list
                                li.welcome-menu__item 
                                    a(href="#").welcome-menu__link Мои работы
                                li.welcome-menu__item 
                                    a(href="#").welcome-menu__link Обо мне
                                li.welcome-menu__item 
                                    a(href="#").welcome-menu__link Блог
                
                    .welcome-block__back
                        .auth-name Авторизуйтесь
                        .auth-block
                            form(action="#").auth-form
                                .auth-form__group
                                    span.auth-form__icon
                                    input(type="text" name="login" placeholder="Логин").auth-form__input
                                .auth-form__group
                                    span.auth-form__icon
                                    input(type="password" name="password" placeholder="Пароль").auth-form__input
                                .auth-form__center
                                    .auth-form__group
                                        input(id="checkhum" type="checkbox" name="human")
                                        label(for="checkhum").auth-form__text Я человек
                                    .auth-form__group
                                        p.auth-form__text.auth-form__text__bold Вы точно не робот?
                                        span.auth-form__radio
                                            input(type="radio" name="robot").auth-form__input-radio
                                            label.auth-form__text Да
                                        span.auth-form__radio
                                            input(type="radio" name="notrobot").auth-form__input-radio
                                            label.auth-form__text Не уверен
                                .auth-menu
                                    ul.auth-menu__list
                                        li.auth-menu__item 
                                            a(href="#").auth-menu__link На главную
                                        li.auth-menu__item 
                                            button(type="submit").auth-menu__link Войти
            
        footer.welcome-desc__bottom
            p © Дмитрий Чех | создано с любовью в LoftSchool | 2017-2018
        