$dark-orange: #cd8920;
$orange: #e7a731;
$light-orange: #e2c58c;
$gray: #5d5a55;
$lite-gray: #c4cbcd;
$title: #373e42;
$text: #5d5a55;

//about

$lite-biege: #efeee9;
$biege: #eeebdf;

// works

$white: #faf8f0;
$orange-btn: #efab26;
$border: #444a4d;