.social{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;

    &-item{
        display: inline-block;
        margin-right: 30px;

        &:last-child{
            margin: 0;
        }
    }
}
.social-item__link .author-card__icon{
    opacity: 1;
    transition: opacity .3s;
}

.social-item__link:hover .author-card__icon{
    opacity: .6;
}