.social{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;

    &-item{
        display: inline-block;
        margin-right: 25px;

        &:last-child{
            margin-right: 0;
        }
    }

    &-item__link{
        display: block;
    }

    &-item__ic {
        width: 25px;
        height: 25px;
        fill: #fff;
        opacity: .7;
        transition: all .5s ease;

        &:hover{
            opacity: 1;
        }

        &-vk{
            width: 30px;
            height: 21px;
        }
        &-github{
            width: 30px;
            height: 21px;
        }
    }
}