// colors

$dark-orange: #cd8920;
$orange: #e7a731;
$light-orange: #e2c58c;
$gray: #5d5a55;


/*
.welcome{
    color: #fff;
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
    
    &-header{
        width: 100%;
        position: absolute;
        top: 0;
        z-index: 2;
    }

    &-btn{
        border: 1px solid #fff;
        width: 180px;
        height: 45px;
        line-height: 45px;
        text-decoration: none;
        float: right;
        margin: 25px 40px;
        font-family: "Roboto medium";
        font-size: 16px;
        background: transparent;
        color: #fff;
        transition: all .3s;
        text-align: center;
        border-radius: 10px;

        &:hover{
            background: #fff;
            color: $dark-orange;
        }
    }

    &-block{
        width: 380px;
        background-color: rgba(215,191,155,.6);
        border-radius: 10px;
        padding-top: 35px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

        &__container{
            perspective: 1000px;
            flex: 1;
        }
        &__wrapper{
            position: relative;
            float: left;
            width: 100%;
        }
        &__front,
        &__back{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            transition: transform 0.3s;
        }
        &__back{
            transform: rotateY(-180deg);
        }
        &__wrapper.flipped &__front {
            transform: rotateY(-180deg);
          }
          
        &__wrapper.flipped &__back {
            transform: rotateY(0);
          }
    }

    &-img{
        margin-bottom: 20px;

        &__wrapper{
            overflow: hidden;
            width: 140px;
            height: 140px;
            border-radius: 50%;
            margin: 0 auto;
        }
    }
    &-foto{
        width: 220px;
        margin-top: -30px;
        margin-left: -45px;
    }
    &-name{
        margin-bottom: 40px;

        h1{
            font-size: 28px;
            font-family: 'roboto medium';
            margin: 0;
            margin-bottom: 15px;
        }
        p{
            font-size: 16px;
            margin: 0;
            font-family: 'roboto regular';
        }
    }

    &-social{
        margin-bottom: 40px;
    }

    &-menu{
        height: 45px;

        &__list{
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
        }
        &__item{
            flex: 1;
            height: 45px;
            line-height: 45px;
            list-style: none;
            background-color: $orange;
            transition: background-color .3s;

            &:nth-child(2){
                border-left: 3px solid $light-orange;
                border-right: 3px solid $light-orange;
            }

            &:hover{
                background-color: $dark-orange;
            }
        }
        &__link{
            display: block;
            color: #fff;
            text-decoration: none;
            font-size: 16px;
            font-family: "Roboto medium";
        }
    }

    &-desc__bottom{
        position: absolute;
        bottom: 50px;
        color: #fff;
        z-index: 2;
        text-align: center;
        line-height: 1.7;
    }
}

.social{

    &-icons{
        margin: 0;
        padding: 0;

        &__item{
            list-style: none;
            display: inline-block;
            margin-right: 30px;

            &:last-child{
                margin-right: 0;
            }
        }
        &__link{
            display: block;
            opacity: .7;
            transition: opacity .3s;

            &:hover{
                opacity: 1;
            }
        }
        &__vk{
            background: url(../images/icons/vk.svg);
            width: 31px;
            height: 17px;
        }
        &__git{
            background: url(../images/icons/github.svg);
            width: 26px;
            height: 22px;
        }
        &__in{
            background: url(../images/icons/in.svg);
            width: 24px;
            height: 22px;
        }
    }
}

.auth{

    &-name{
        font-size: 35px;
        text-transform: uppercase;
    }
    &-menu__link{
        width: 50%;
    }
}
*/