// colors

$dark-orange: #cc8820;
$orange: #e6a730;
$light-orange: #e2c58c;



.welcome{
    color: #fff;
    //background-image: url(../images/bg.jpg);
    //background-repeat: no-repeat;
    //background-size: cover;
    //background-position: center center;
    height: 100%;
    width: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-items: center;
    
    &-bg{
        max-width: 100%;
        position: absolute;
        z-index: 1;
        min-height: 100vh;
    }
    
    &-header{
        width: 100%;
        position: absolute;
        top: 0;
        z-index: 2;
    }

    &-btn{
        border: 1px solid #fff;
        width: 180px;
        height: 45px;
        line-height: 45px;
        text-decoration: none;
        float: right;
        margin: 25px 40px;
        font-family: "Roboto medium";
        font-size: 16px;
        background: transparent;
        color: #fff;
        transition: all .3s;
        text-align: center;
        border-radius: 10px;

        &:hover{
            background: #fff;
            color: $dark-orange;
        }
    }

    &-block{
        width: 380px;
        background-color: rgba(215,191,155,.6);
        border-radius: 10px;
        padding-top: 40px;
        text-align: center;
        position: relative;
        z-index: 2;
        overflow: hidden;
    }

    &-img{
        margin-bottom: 20px;

        &__wrapper{
            overflow: hidden;
            width: 140px;
            height: 140px;
            border-radius: 50%;
            margin: 0 auto;
        }
    }
    &-foto{
        width: 220px;
        margin-top: -30px;
        margin-left: -45px;
    }
    &-name{
        margin-bottom: 40px;

        h1{
            font-size: 28px;
            font-family: 'roboto medium';
            margin: 0;
            margin-bottom: 15px;
        }
        p{
            font-size: 16px;
            margin: 0;
            font-family: 'roboto regular';
        }
    }

    &-social{
        margin-bottom: 40px;
    }

    &-menu{
        height: 45px;

        &__list{
            margin: 0;
            padding: 0;
        }
        &__item{
            list-style: none;
            display: inline-block;
            background-color: $orange;
            transition: background-color .3s;

            &::after{
                content: "";
                height: 45px;
                width: 2px;
                background: $light-orange;
                position: relative;
            }

            &:hover{
                background-color: $dark-orange;
            }
        }
        &__link{
            display: block;
            padding: 15px 30px;
            color: #fff;
            text-decoration: none;
            font-size: 16px;
            font-family: "Roboto medium";
        }
    }

    &-desc__bottom{
        position: absolute;
        bottom: 50px;
        color: #fff;
        z-index: 2;
    }
}

.social{

    &-icons{
        margin: 0;
        padding: 0;

        &__item{
            list-style: none;
            display: inline-block;
            margin-right: 30px;

            &:last-child{
                margin-right: 0;
            }
        }
        &__link{
            display: block;
            opacity: .7;
            transition: opacity .3s;

            &:hover{
                opacity: 1;
            }
        }
        &__vk{
            background: url(../images/icons/vk.svg);
            width: 31px;
            height: 17px;
        }
        &__git{
            background: url(../images/icons/github.svg);
            width: 26px;
            height: 22px;
        }
        &__in{
            background: url(../images/icons/in.svg);
            width: 24px;
            height: 22px;
        }
    }
}