@import './colors';
@import './common';

.works{
    width: 100%;
    background-color: $white;
    text-align: center;
    padding-bottom: 30px;
}

.feedback{
    background-color: $slide-control-bg;
    text-align: center;
}

.reviews{
    text-align: left;


    &__list{
        margin: 0;
        padding: 0;
        list-style: none;
    }
    &__item{
        display: inline-block;
    }
}
