@import './colors';
@import './common';

.works{
    width: 100%;
    background-color: $white;
    text-align: center;
    padding-bottom: 30px;
}

.feedback{
    background-color: $slide-control-bg;
}
