@import './colors';
@import './common';

.works{
    width: 100%;
    background-color: $white;
    text-align: center;
    padding-bottom: 30px;
}

.feedback{
    background-color: $slide-control-bg;
    text-align: center;
}

.reviews{
    text-align: left;
    max-width: 760px;
    margin: 0 auto;
    padding-bottom: 70px;

    &__list{
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
    }
    &__item{
        display: inline-block;
        width: 50%;
        font-family: 'robotoregular';
        font-size: 1rem;
        padding-top: 50px;
        margin-right: 20px;

        &:last-child{
            margin-right: 0px;
        }
    }
    &__text {
        margin: 0;
        position: relative;
        line-height: 1.5;
        margin-bottom: 25px;

        &:before {
            content: '';
            background-image: url(../images/decor/quotes.svg);
            background-repeat: no-repeat;
            opacity: 0.2;
            position: absolute;
            background-position: left top;
            top: -55px;
            left: 0;
            height: 30px;
            width: 35px;
        }
    }
    &__content {
        display: flex;
    }
    &__img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 20px;

        img{
            max-width: 100%;
        }
    }
    &__name {
        padding-top: 20px;
        color: $dark-orange;
        font-size: 1rem;

        &-fio{
            margin: 0;
            font-family: 'robotobold';
            margin-bottom: 10px;
        }
        &-position{
            margin: 0;
            font-family: 'robotoregular';
        }
    }
}
