
// сброс floats
// вызов через - @extend %clearfix;
%clearfix {
    &:after{
        content: '';
        display: block;
        clear: both;
    }
}

// для оцентровки

@mixin centered($axis: 'both') {
	position: absolute;

	@if ($axis == 'both') {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	@if $axis == 'x' {
		left: 50%;
		transform: translateX(-50%);
	}

	@if $axis == 'y' {
		top: 50%;
		transform: translateY(-50%);
	}
}


// под разрешение retina
// вызов через - @include retina {}
@mixin retina {
    @media screen and (-webkit-min-device-pixel-ratio: 1.5),
    screen and (min-resolution: 144dpi) {
        @content;
    }
}


// медиа запросы 
// вызов через - @include  desktop{}
@mixin desktop {
    @media (max-width: 1200px){
        @content;
    }
}
// вызов через - @include  laptops{}
@mixin laptops {
    @media (max-width: 992px){
        @content;
    }
}
// вызов через - @include  tablets{}
@mixin tablets {
    @media (max-width: 768px){
        @content;
    }
}
// вызов через - @include  phones{}
@mixin phones {
    @media (max-width: 480px){
        @content;
    }
}